html{
    margin: 0px;
    background-color: #e0e0e0;
}

body{
    margin: 0px;
    box-sizing: border-box;
    font-family: Ubuntu;
}

.logo{
    height: 80px;
    width: auto;
}

.social-media-logo{
  height: 20px;
  width: 22px;
}

.list-hotel{
    width: 600px;
    height: auto;
}

.page-container{
    width: 100%;
}

.header-container{
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    position: sticky;
    top: 0;
}

.footer-container{
    background-color: rosybrown;
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    position: sticky;
    bottom: 0;
}

.payment-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}


.black-text{
    text-decoration: none;
    color: black;
}

.custom-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-menu li {
    display: inline; /* or 'inline-block' if you need to apply margins/padding */
    margin-right: 10px; /* Adjust the spacing between items */
}

.black-text {
    text-decoration: none;
    color: black;
}

.black-text:hover {
    text-decoration: underline;
}

.list-items-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}