html{
    margin: 0px;
    background-color: #e0e0e0;
}

body{
    margin: 0px;
    box-sizing: border-box;
}

.logo{
    height: 200px;
    width: auto;
}

.social-media-logo{
  height: 20px;
  width: 22px;
}

.list-hotel{
    width: 600px;
    height: auto;
}

.page-container{
    width: 100%;
}

.header-container{
    background-color: rosybrown;
}

.footer-container{
    background-color: rosybrown;
}