.list-card{
    width: 400px;
    margin: 20px;
    background-color: rgb(132,136,139);
}

.list-hotel-img{
    width: 100%;
    height: auto;
}

.cards-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}