.list-card{
    width: 400px;
    margin: 20px;
    background-color: rgb(132,136,139);

    display: flex;
    flex-direction: row;
    
}

.list-hotel-img{
    width: 50%;
    height: auto;
    
}

.cards-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-details{
    padding: 10px;
}